{{#if resume.certificates.length}}
  <section class="section">
    <header>
      <h2 class="section-title">Certificates</h2>
    </header>
    <section id="certificates">
      {{#each resume.certificates}}
        {{#if date}}
          <section class="certificate-item">
            <header class="clear">
                <div class="date">
                  {{date}}
                </div>
                {{#if name}}
                  <div>
                    <span class="name">{{name}}</span>
                  </div>
                {{/if}}
                {{#if issuer}}
                  {{#if url}}
                    <div>
                      <span class="issuer"><a target="_blank" href="{{url}}">{{issuer}}</a></span>
                    </div>
                  {{else}}
                    <div>
                      <span class="issuer">{{issuer}}</span>
                    </div>
                  {{/if}}
                {{/if}}
            </header>
          </section>
        {{/if}}  
      {{/each}}
    </section>
  </section>
{{/if}}
