{{#if resume.references.length}}
<section id="references" class="section">
  <header>
    <h2 class='section-title'>References</h2>
  </header>
  <section>
    {{#each resume.references}}
    <div class="item">
      {{#if reference}}
      <blockquote class="reference">
        &#8220;&#32;{{reference}}&#32;&#8221;
      </blockquote>
      {{/if}}
      {{#if name}}
        {{#if link}}
        <div class="author">
          <a target="_blank" href="{{link}}">{{name}}</a>, {{position}} at {{place}}
        </div>
        {{else}}
        <div class="author">
          {{name}}, {{position}} at {{place}}
        </div>
        {{/if}}
      {{/if}}
    </div>
    {{/each}}
  </section>
</section>
{{/if}}
